//Global variables
:root {
  --background-color-dark: rgb(8, 8, 9);
  --background-color-light: rgb(255, 255, 255);
  
  --text-color-dark: #dedede;
  --text-color-dark-darker: #9c9c9c;

  --text-color-light: #000000;

  --input-focus-dark: rgb(70, 128, 198);
  --input-valid-dark: rgba(0, 255, 0, 0.35);
  --input-invalid-dark: rgba(255, 0, 0, 0.35);
  
  --accent-color: rgb(31, 115, 172);
}

//Panel
:root {
  --panel-color-dark: rgb(22, 22, 23);
  --panel-color-light: rgb(245, 245, 245);

  --panel-hover-color-dark-dark: rgb(18, 18, 19);
  --panel-hover-color-dark-light: rgb(36, 36, 37);
  --panel-hover-color-light: rgb(235, 235, 235);

  --panel-border-dark: rgb(54, 54, 54);
  --panel-border-light: rgb(137, 137, 137);

  --panel-border-hover-color-dark: rgb(84, 84, 84);
  --panel-border-hover-color-light: rgb(167, 167, 167);

  //Rising panel
  --panel-color-dark-rising: rgb(22, 20, 20);
  --panel-border-dark-rising: rgb(93, 56, 38);
}


// Dark mode
:root {
  color-scheme: dark;

  --text-color: var(--text-color-dark);
  --text-color-darker: var(--text-color-dark-darker);

  --background-color: var(--background-color-dark);
  --background-color-inverted: var(--background-color-light);

  --panel-color: var(--panel-color-dark);
  --panel-hover-color: var(--panel-hover-color-dark-light);
  --panel-hover-color-inverted: var(--panel-hover-color-dark-dark);
  
  --panel-border-color: var(--panel-border-dark);
  --panel-border-hover-color: var(--panel-border-hover-color-dark);

  --input-focus-color: var(--input-focus-dark);
  --input-valid-color: var(--input-valid-dark);
  --input-invalid-color: var(--input-invalid-dark);
}

// Light mode
@media screen and (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --background-color: var(--background-color-light);
    --panel-color: var(--panel-color-light);
    --text-color: var(--text-color-light);
  }
}