@import '/assets/scss/global.scss';
@import '/assets/scss/reset.scss';

@import '/assets/scss/pending.scss';

body {
  right: 0;
  left: 0;
  z-index: 70;
}


#__nuxt {
  min-height: 100vh;
  height: auto;
  z-index: -1;
  width: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--background-color);

  color: var(--text-color);
  font-family: 'Roboto', 'Inter', sans-serif;
}

input {
  height: 0.6rem;
  padding: 0.8rem;
}
textarea {
  resize: none;
  padding: 0.8rem;
}
input, textarea, select {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  border: 1px solid var(--panel-border-color);
  color: var(--text-color);
  border-radius: 1rem;
  font-size: 1rem;
  transition: border 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

   &:focus {
    outline: none;
    border: 1px solid var(--input-focus-color);
  }
}

button {
  font-weight: 500;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 0rem;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.disabled {
    color: rgba(255, 255, 255, 0.286);
    background-color: var(--panel-border-color);
    pointer-events: none;
    cursor: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

//
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease-out;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}