@import '/assets/scss/global.scss';
@import '/assets/scss/reset.scss';

#__nuxt {
  min-height: 100vh;
  height: auto;
  background-color: var(--background-color);
  z-index: -1;
  width: auto;
  overflow: hidden;
}